[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
flake8 = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"

[packages]
djangorestframework = "*"
django-rest-auth = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
pycountry = "*"
django-rest-swagger = "*"
flex = "*"
swagger-spec-validator = "*"
django-cors-headers = "*"
intuit-oauth = "*"
gunicorn = "*"
psycopg2-binary = "*"
drf-yasg = "*"

[requires]
python_version = "3.*"
